body {
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;

        input[type='text'] {
            padding: 10px;
            margin: 0 10px;
            background-color: #f1f1f1;
            border: none;
            outline: none;
            width: 100%;
        }

        fieldset {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;

            input[type='button'] {
                border: none;
                padding: 10px 20px;
                background-color: #c2e5ef;
                margin: 10px;
                flex: 1; //three parts evenly displayed
                border-radius: 5px;
                text-align: center;

                &:active {
                    background-color: #b0dae6;
                }
            }
        }

        input[type='submit'] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #0062cc;
            }
        }
    }

    .icon img {
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

    }

    .temperature {
        font-size: 48px;
        font-weight: bold;
        margin: 20px 0;
    }

    .description {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        >div {
            padding: 20px;
            background-color: #f1f1f1;
            margin: 10px;
            flex: 1; //three parts evenly displayed
            border-radius: 5px;
            text-align: center;
        }

    }

    @media (max-width:768px) {
        form {
            flex-direction: column;

            input[type='text'] {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}